<title>View Table Information</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
  <h2>Personal Information</h2>
  <p></p>            
  <table class="table table-bordered" style="width: 500px">
    <tbody>
      <tr>
        <td><b>First-name</b></td>
        <td>xyz</td>
      </tr>
      <tr>
            <td><b>Last-name</b></td>
            <td>xyz</td>
          </tr>
          <tr>
                <td><b>Address</b></td>
                <td>xyz</td>
              </tr>
              <tr>
                    <td><b>Email</b></td>
                    <td>xyz</td>
                  </tr>
                  <tr>
                        <td><b>Gender</b></td>
                        <td>xyz</td>
                      </tr>
                      <tr>
                            <td><b>Date of Birth</b></td>
                            <td>xyz</td>
                          </tr>
    </tbody>
  </table>
</div>

</body>
</html>



<!DOCTYPE html>
<html lang="en">
<head>
  <title>View Table Information</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Study Information</h2>
  <p></p>            
  <table class="table table-bordered" style="width: 500px">
    <tbody>
        <thead>
            <th>Education</th>
            <th>Name</th>
            <th>Date</th>
            <th>Year of finishing</th>
        </thead>
            
                  
                    <tr>
                      <td><b>School</b></td>
                      <td>Doe</td>
                      <td>End Year</td>
                      <td>john@example.com</td>
                    </tr>
                    <tr>
                            <td><b>Junior College</b></td>
                            <td>Doe</td>
                            <td>End Year</td>
                            <td>john@example.com</td>
                          </tr>
                          <tr>
                                <td><b>College</b></td>
                                <td>Doe</td>
                                <td>End Year</td>
                                <td>john@example.com</td>
                              </tr>
                
    </tbody>
  </table>
</div>
