<center>
<div>
  
<h1 style="background-color:rgb(255, 81, 0);color:black;width: 400px">Application-Form</h1>
<p style="color:snow;">Please enter your details</p>
<br>

<h2 style="background-color:gray;color:black;width: 300px">Personal Information:</h2>
<form style="color:ivory;" action="///home/mansi/Desktop/abc1.html" method="post">
    <label for="name" class="fname">First Name: </label>
    <input type="text" name="firstname"><br><br>
    <label for="name" class="lastname">Last Name: </label>
    <input type="text" name="lastname"><br><br>
    <label for="example-text-input" class="col-2 col-form-label">Address: </label>
      <input type="text" name="Address"><br>
    <br>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"><br>
        <small id="emailHelp" class="form-text text-muted">(We'll never share your email with anyone else)</small><br><br>
      </div>
    Gender:<br>
    <input type="radio" name="gender" value="male" checked> 
    Male<br>
  <input type="radio" name="gender" value="female"> 
  Female<br>
  <input type="radio" name="gender" value="other"> Other<br><br>
  <label for="example-text-input" class="col-2 col-form-label">Date of Birth;</label>
   <input type="date" name="dob"><br><br>
   <br><br>
   <h2 style="background-color:gray;color:black;width: 300px">Study Information:</h2>
   
  <label for="example-text-input" class="col-2 col-form-label">School Name:</label>
  <select class="custom-select">
      <option selected>School</option>
      <option value="1">A</option>
      <option value="2">B</option>
      <option value="3">C</option>
    </select><br><br>
    <label for="example-text-input" class="col-2 col-form-label">Date of Finishing:</label>
    <input type="date" name="date">
    <br><br>
    <label for="example-text-input" class="col-2 col-form-label">Junior College:</label>
    <select class="custom-select">
        <option selected>School</option>
        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">C</option>
      </select><br><br>
      <label for="example-text-input" class="col-2 col-form-label">Date of Finishing:</label>
    <input type="date" name="date">
    <br><br>

    <label for="example-text-input" class="col-2 col-form-label">College:</label>
    <select class="custom-select">
        <option selected>School</option>
        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">C</option>
      </select><br><br>
      <label for="example-text-input" class="col-2 col-form-label">Date of Finishing:</label>
      <input type="date" name="date">
      <br><br><br>
      <label for="example-text-input" class="col-2 col-form-label">Job Experience(if any):</label>
   <input type="text" name="desc"><br><br>
  <br><br>
   <input type="submit" value="Submit">
</form>

</div>
</center>